{% extends 'base.html' %}
{% block menu %}
    <li><a href="{% url 'add_product' %}" class="action-btn">+ Add List +</a></li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle action-btn" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Category
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            {% for product in products %}
                <a class="dropdown-item" href="{% url 'category_view' product.status  %}">{{ product.status }}</a>
            {% endfor %}
        </div>
    </li>
    <li>
        <form action="{% url 'index' %}" class="form-inline my-2 my-lg-0">
            <input class="form-control" type="search" name="search" placeholder="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form></li>
{% endblock %}

{% block content %}
        <div class="home_div">
            {% for product in products %}
                <div class="boss_div">
                    <h2>{{ product.name }}</h2>
                    <h3>{{ product.price }}$</h3>
                    <a href="{% url 'product_view' product.pk %}" class="action-btn">More >>></a>
                    <main>
                            <div class="button js-button-campaign btn action-btn"><span>Delete</span></div>
                    </main>
                         <div class="overlay js-overlay-campaign">
                                <div class="popup js-popup-campaign">
                                      <form>
                                          <h2>Are you sure you want to delete this?</h2>
                                          <p><a href="{% url 'delete_product' pk=product.pk %}" class="action-btn">Yes</a></p>
                                          <p><a class="action-btn object-tools js-close-campaign">No</a></p>
                                        </form>
                                    <div class="close-popup js-close-campaign"></div>
                                </div>
                            </div>
                    <a href="{% url 'update_product' pk=product.pk %}" class="action-btn">Edit</a>
                </div>
            {% endfor %}
        </div>
{% endblock %}
